.header-image {
    background-image: url("ewura.JPG");
    background-color: #cccccc;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.header-text {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}
body {
    background-color: rgb(112, 225, 240);
    max-width: 75%; 
    margin: auto;
    padding: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
hr {
    border-width: 5px;
}
h1 {
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 60px;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0);
    background-color: #ecc8f5;
}
  
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
  
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgb(224, 224, 224);
}
  
/* Create an active/current tablink class */
.tab button.active {
    background-color: rgb(219, 219, 219);
}
  
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}