.header-image {
    background-image: url("ewura.JPG");
    background-color: #cccccc;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
body {
    background-color: rgb(112, 225, 240);
    max-width: 75%; 
    margin: auto;
    padding: 5px
}
hr {
    border-width: 5px;
}
h1 {
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 60px;
}