.header-image {
    background-image: url("ewura2.JPG");
    background-color: #cccccc;
    height: 990px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
body {
    background-color: rgb(134, 224, 236);
    max-width: 1000px; 
    margin: auto;
    padding: 10px
}
hr {
    border-width: 5px;
}
h1 {
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 50px;
}