.site-wrapper {
    display: table;
    width: 100%;
    background-image: url(ewura.JPG);
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: inset 0 0 5rem rgb(0,0,0);
    box-shadow: inset 0 0 5rem rgb(0,0,0);
    color: #fff;
    text-shadow: 0 0 3rem #000;
    padding-top: 54px;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}
body {
    background-color: rgb(52, 150, 163);
}
hr {
border-width: 5px;
}
h1 {
font-family:"Comic Sans MS", cursive, sans-serif;
font-size: 50px;
}