.header-image {
    background-image: url("Ewuraba\ Buckle.png");
    background-color: #cccccc;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.75;
}
.header-text {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}
body {
    background-color: rgb(203, 249, 255);
    max-width: 80%; 
    margin: auto;
    border-left: 5px solid;
    border-right:5px solid;
    border-color: black;
}
hr {
    border: 1px solid black;
}
h1 {
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 60px;
}
p {
    line-height: 2 ;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: #ec9fff;
}
  
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
  
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #e380fc;
}
  
/* Create an active/current tablink class */
.tab button.active {
    background-color: #e380fc;
}
  
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}